* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.jumbotron {
  height: 100vh;
  background-color: #1e3a8a;
  color: white;
  grid-area: jumbroton;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron .logo {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.jumbotron h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.jumbotron p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.jumbotron .buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  background-color: #facc15;
  color: #222;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #eab308;
  transform: translateY(-5px);
}

.blurActived {
  filter: blur(2px);
}

#grid {
  padding: 10px;
  width: 500px;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  gap: 2px;
}

.pixel {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  transition: background-color 0.5s;
}

.pixel.filled {
  background-color: blue;
}

#history-projects {
  padding: 10px;
  margin-top: 70px;
  background-color: #d32f2f;
}

#empty-message {
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}

#history-projects h2 {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.project-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover .snapshot {
  transform: scale(1.05);
}

.project-item:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project-details {
  padding: 15px;
  text-align: left;
  flex-grow: 1;
}

.project-details h3 {
  margin: 0;
  font-size: 18px;
}
.project-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.project-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info .snapshot {
  width: 100%;
  height: 200px;
  background: #ddd;
  transition: transform 0.3s ease;
  background-position: top;
}

.snapshot:hover img {
  transform: scale(1.2);
}

.project-item .buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #eee;
}

.project-date {
  font-size: 10px;
  color: #aaa;
  margin-top: 10px;
}

.project-item .buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.project-item .buttons .btn {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #1e3a8a;
  width: 30%;
}

.project-item .buttons .btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.continue-btn:hover {
  background-color: #0056b3;
}

/* Styling Footer */
footer {
  background-color: #111;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-logo h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.footer-logo p {
  font-size: 0.9rem;
  color: #bbb;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.social-icon svg {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icon svg:hover {
  transform: scale(1.2);
  filter: brightness(0.8);
}

.footer-copy {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #888;
}

#backdrop,
#backdrop-popup-delete {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s;
}

#popup-delete {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#popupForm {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #222;
}

#popupForm h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #1e3a8a;
}

#popupForm label {
  font-size: 14px;
  text-align: left;
}
#popupForm input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

#popupForm .btn {
  margin-top: 10px;
}

#submit {
  background-color: black;
  color: white;
}

#submit:hover {
  background-color: rgb(156, 113, 113);
}

input[type="color"] {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }

  .jumbotron {
    padding: 10px;
    align-items: start;
  }

  .jumbotron .logo {
    text-align: start;
    font-size: 1rem;
  }

  .jumbotron h1 {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .jumbotron p {
    font-size: 0.8rem;
  }

  #grid {
    padding: 10px;
    width: 200px;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    gap: 1px;
  }

  .pixel {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    transition: background-color 0.5s;
  }

  .project-list {
    grid-template-columns: 1fr;
  }

  .project-item .buttons .btn span {
    width: 20px;
    height: 20px;
  }
}
