/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pixel-canvas {
  image-rendering: pixelated; /* Membuat piksel terlihat tajam */
}

main {
  display: flex;
  justify-content: center;
}

/* Header styling */
header {
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  background: white;
  width: 100%;
  padding: 10px;
  z-index: 100;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 2rem;
  color: #333;
}

p {
  color: #777;
}

#toolbar-wrapper {
  position: fixed;
  top: 120px;
  left: 20px;
  z-index: 999999;
}

/* Toolbar styling */
#toolbar {
  width: 100px;
  background-color: #fff;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.08);
}

#toolbar label {
  font-size: 1rem;
  color: #333;
}

#pixel-canvas-wrapper {
  margin-top: 100px;
}
/* Canvas Styling */
#pixel-canvas {
  border: 2px solid #333;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  /* margin: 0 auto; */
}

/* Grid styling (optional for later use) */
input[type="checkbox"] {
  transform: scale(1.2);
  margin-top: 6px;
}

.tool {
  width: 50px;
  height: 50px;
  display: block;
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  background-size: cover;
  padding: 13px;
  text-align: center;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.tool:hover {
  transform: scale(1.1);
  background-color: rgb(225, 226, 224);
}

canvas {
  border: 1px solid #ccc;
  cursor: crosshair;
}

#pixel-canvas-wrapper {
  width: 900px;
  height: 600px;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.tool.disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.open-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

#palette-popup-wrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.palette-popup {
  position: fixed;
  top: 250px;
  left: 250px;
  width: 200px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.palette {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 10px;
}


.color {
  flex-basis: 30px;
  /* width: 30px; */
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

input[type="color"] {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}

#save-color {
  padding: 8px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
