* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

#pixel-canvas {
  image-rendering: pixelated;
}

main {
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  background: white;
  width: 100%;
  padding: 10px;
  z-index: 100;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 2rem;
  color: #333;
}

p {
  color: #777;
}

#toolbar-wrapper {
  position: fixed;
  top: 120px;
  left: 20px;
  z-index: 999999;
}

#toolbar {
  width: 100px;
  background-color: #fff;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 8px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.08);
}

.tool {
  width: 50px;
  height: 50px;
  display: block;
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  background-size: cover;
  padding: 13px;
  text-align: center;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.tool:hover {
  transform: scale(1.1);
  background-color: rgb(225, 226, 224);
}

.tool.disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.open-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

#palette-popup-wrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.palette-popup {
  position: fixed;
  top: 250px;
  left: 250px;
  width: 200px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.palette {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.color {
  flex-basis: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#pixel-canvas-wrapper {
  margin-top: 100px;
}

#pixel-canvas {
  border: 2px solid #333;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

canvas {
  border: 1px solid #ccc;
  cursor: crosshair;
  user-select: none;
}

#pixel-canvas-wrapper {
  width: 900px;
  height: 600px;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

input[type="color"] {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}

#save-color {
  padding: 8px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.success-save-alert {
  display: none;
  text-align: center;
  background-color: greenyellow;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 100px;
  width: 300px;
  transition: 0.5s ease-in;
  opacity: 0;
}

.success-save-alert p {
  color: black;
}

.success-save-alert.show {
  display: block;
  opacity: 1;
}
@media screen and (max-width: 800px) {
  #toolbar-wrapper {
    position: fixed; 
    z-index: 999999;
    width: 100%;
    bottom: 10px; 
    left: 0; 
    padding: 10px 0;
    top: calc(100vh - 100px);
    display: flex;
    justify-content: center;
  }

  #toolbar {
    min-width: 400px;
    max-width: 600px;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.08);
  }

  .tool {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: none;
    transition: transform 0.2s, background-color 0.2s;
    justify-content: center;
    cursor: pointer;
  }
}
